.profile-header-container {
  margin: 0 auto;
  text-align: center;
}

.profile-header-img {
  padding: 40px;
}

.profile-header-img > img.img-circle {
  width: 200px;
  height: 200px;
  border: 2px solid #7554ba;
}

.rank-label-container {
  margin-top: -19px;
  text-align: center;
}

.label.label-default.rank-label {
  background-color: #7554ba;
  padding: 5px 10px 5px 10px;
  border-radius: 27px;
  color: #ffffff;
}

